.btn {
  box-shadow: 1px 3px 9px rgba($color: #000000, $alpha: 0.25);
  border: 3px solid #000000;
  border-radius: 8px;
  background-color: #44281d;
  color: white;
}
.accordion{
    border: 3px solid #000000;
}